apiVersion: apps/v1
kind: Deployment
metadata:
  name: uniborrow-loans-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uniborrow-loans
  template:
    metadata:
      labels:
        app: uniborrow-loans
    spec:
      containers:
        - image: efodx/uniborrow-loans:2022-01-04-00-38-26
          name: uniborrow-loans
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://tai.db.elephantsql.com/rdvoasbi
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: rdvoasbi
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: uniborrow-loans-db-pass
                  key: password
            - name: KUMULUZEE_SERVER_BASEURL
              value: http://uniborrow-loans:8080
            - name: KUMULUZEE_CONFIG_ETCD_HOSTS
              value: http://etcd:2379
            - name: KUMULUZEE_DISCOVERY_ETCD_HOSTS
              value: http://etcd:2379
            - name: KUMULUZEE_DISCOVERY_CLUSTER
              value: uniborrow-cluster
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: server
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: server
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 3

---

apiVersion: v1
kind: Service
metadata:
  name: uniborrow-loans
spec:
  type: ClusterIP
  ports:
    - port: 8080
  selector:
    app: uniborrow-loans
