kumuluzee:
  name: loans-service
  env:
    name: dev
  version: 1.0.0
  server:
    base-url: http://localhost:8080
    http:
      port: 8080
  datasources:
    - jndi-name: jdbc/loansDS
      connection-url: jdbc:postgresql://tai.db.elephantsql.com/rdvoasbi
      username: rdvoasbi
      password: YsgxdUhrzstKq8-ehChAA8OmPbmkc8d_
administration:
  maintenance-mode: false