kumuluzee:
  name: uniborrow-loans-service
  env:
    name: dev
  version: 1.0.0
  server:
    base-location: http://localhost:8080
    http:
      port: 8080
  datasources:
    - jndi-name: jdbc/loansDS
      connection-url: jdbc:postgresql://tai.db.elephantsql.com/rdvoasbi
      username: rdvoasbi
      password: YsgxdUhrzstKq8-ehChAA8OmPbmkc8d_
  discovery:
    consul:
      agent: http://localhost:8500
  health:
    checks:
      data-source-health-check:
        type: liveness
        jndi-name: jdbc/loansDS
    metrics:
      web-instrumentation:
        - name: loans-endpoint
          url-pattern: /v1/loans/*
  logs:
    config-file: '<?xml version="1.0" encoding="UTF-8"?>
                            <Configuration name="comments">
                                <Appenders>
                                    <Console name="console" target="SYSTEM_OUT">
                                        <PatternLayout pattern="%d %p %marker %m %X %ex %n"/>
                                    </Console>
                                    <Socket name="logstash" host="8ff6c166-5030-437c-b97b-37178a04750d-ls.logit.io"
                                    port="24755" protocol="udp">
                                        <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true"/>
                                    </Socket>
                                </Appenders>
                                <Loggers>
                                    <!-- Default logger -->
                                    <Root level="all">
                                        <AppenderRef ref="console" level="info" />
                                        <AppenderRef ref="logstash" level="trace" />
                                    </Root>
                                </Loggers>
                            </Configuration>'
administration:
  maintenance-mode: false